body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f2f25;
  color:white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #132a22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 999;
}

.nav-left {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo-ellipse {
    width: 40px;
    height: 40px;
    background: #2ecc71;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 25px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.cart {
    font-size: 20px;
    cursor: pointer;
}

.cart-icon{
  display:inline-flex;
  align-items:center;
  cursor:pointer;
}

.logo {
  width:35px;      
  height:auto;     
  margin-right:10px;
  display:block;
}

.brand {
    font-weight: bold;
}

.nav-right button {
    background: transparent;
    border: none;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    gap: 6px;
}

.cart {
    width: 25px;
}

.map-section{
  padding:10px;
}

.map{
  width:100%;
  border-radius:20px;
  height: 250;
}

.divider{
  height:3px;
  background:#bfbfbf;
  margin:30px 0;
}

.info{
  text-align:center;
}

.highlight{
  background:#d2b48c;
  margin:30px;
  border-radius:20px;
  padding:20px;
}

.highlight-box{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.highlight img{
  width:45%;
  border-radius:15px;
}

.text{
  width:50%;
  color:#000;
}

.gallery{
  padding:30px;
  text-align:center;
}

.gallery img{
  width:100%;
  border-radius:20px;
  margin-bottom:15px;
}


